<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->
{% block body %}

<div class="cont center-small-form">
  <h2 style="padding-left: 5px">Add Income</h2>
  <div class="formBox">
    <form action="/add-income" method="post">
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" name="category" id="category" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
        />
      </div>
      <div class="mb-3">
        <label for="method" class="form-label">Payment Method</label>
        <input type="text" class="form-control" name="method" id="method" />
      </div>
      <div class="mb-3">
        <label for="income" class="form-label"
          >Income ($) <span class="red">*</span></label
        >
        <input
          type="number"
          step="0.01"
          min="0"
          class="form-control"
          name="income"
          id="income"
          required
        />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label"
          >Date <span class="red">*</span></label
        >
        <input
          type="date"
          class="form-control"
          name="date"
          id="date"
          required
        />
      </div>

      <div class="mb-3">
        <label for="color" class="form-label">Display Color</label>
        <input
          type="color"
          value="#f0f8ff"
          class="form-control"
          name="color"
          id="color"
          required
        />
        <button type="button" class="btn btn-dark" id="defaultColor">
          Default Color
        </button>
        <script>
          document.getElementById("defaultColor").onclick = function () {
            document.getElementById("color").value = "#f0f8ff";
          };
        </script>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
{% endblock %}
