<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->
{% block body %}
<div class="cont center">

      {% if expenses -%}
      <div class="formBox">
        <h2>Filters</h2>
    
        <form action="/analyzeExpenses" method="post">
          <!-- category  -->
          <div class="mb-3">
            <label for="category">Choose Category:</label>
            <select name="category" id="category" class="form-select">
              <option></option>
              {% for category in categories %}
              <option value="{{category["category"]}}">{{category["category"]}}</option>
              {% endfor %}
            </select>
          </div>
    
        <!-- purchaseLocation  -->
          <div class="mb-3">
            <label for="purchaseLocation">Choose Purchase Location:</label>
            <select name="purchaseLocation" id="purchaseLocation" class="form-select">
              <option></option>
              {% for purchaseLocation in purchaseLocations %}
              <option value="{{purchaseLocation["purchaseLocation"]}}">{{purchaseLocation["purchaseLocation"]}}</option>
              {% endfor %}
            </select>
          </div>
    
          <!-- keyword -->
          <div class="mb-3">
            <label for="keywords">Description Keywords:</label>
            <input type="text" name="keywords" id="keywords">
          </div>
    
          <!-- date -->
          <div class="mb-3">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date">
          </div>
    
          <!-- date range-->
          <div class="mb-3">
            <label for="fromDate">From Date:</label>
            <input type="date" name="fromDate" id="fromDate">
            <label for="toDate">To Date:</label>
            <input type="date" name="toDate" id="toDate">
          </div>
          
    
          <!-- search button  -->
          <button type="submit" class="btn btn-primary">Search</button>

          {% for message in get_flashed_messages() %}
            <div class="alert" style="color: red">{{ message }}</div>
          {% endfor %}
        </form>
      </div>
      <br>
      <div>
        <div>
      <h2>Expenses</h2>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered table-hover">
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Purchase Location</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
          </tr>
  
          {% for expense in expenses %}
          <tr>
            <td>{{ expense["category"] }}</td>
            <td>{{ expense["description"] }}</td>
            <td>{{ expense["purchaseLocation"] }}</td>
            <td>{{ expense["quantity"] }}</td>
            <td>{{ "$%.2f"| format(expense["price"] )}}</td>
            <td>{{ expense["date"] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
          <th scope="col">Total Spent</th>
        </tr>
        <tr>
          <td>{{"$%.2f"| format(total)}}</td>
        </tr>
      </table>
    </div>
    <div>
    </div>
      {% else -%}
        <h3>Sorry</h3>
        <p>
          You have no expenses to display here. To add an expense go
          <a href="/add-expense">here</a>. In the future, use the links in the
          navigation bar on the top!
        </p>
      {% endif %}
</div>
{% endblock %}
