<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->
{% block body %}
<div class="cont center-horizontal">
  <div class="formBox">
    <h2>Filters</h2>

    <form action="/analyzeIncome" method="post">
      <!-- category  -->
      <div class="mb-3">
        <label for="category">Choose Category:</label>
        <select name="category" id="category" class="form-select">
          <option></option>
          {% for category in categories %}
          <option value="{{category['category']}}" {% if category["category"] == categoryFilter %}selected{% endif %}>
            {{category['category']}}
          </option>
          {% endfor %}
        </select>
      </div>

      <!-- purchaseLocation  -->
      <div class="mb-3">
        <label for="method">Choose Payment Method:</label>
        <select name="method" id="method" class="form-select">
          <option></option>
          {% for method in methods %}
          <option value="{{method['method']}}" {% if method['method'] == methodFilter %}selected{% endif %}>{{method['method']}}</option>
          {% endfor %}
        </select>
      </div>

      <!-- keyword -->
      <div class="mb-3">
        <label for="keywords">Description Keywords:</label>
        <input
          type="text"
          name="keywords"
          id="keywords"
          value="{{keywordFilter}}"
        />
        <div class="info-container">
          <i class="icon-info-sign info-icon"></i>
  
          <div class="info-text">
            Looks for keyword(s) in description.
          </div>
        </div>
      </div>

      <!-- date -->
      <div class="mb-3">
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" value="{{dateFilter}}" />
      </div>

      <!-- date range-->
      <div class="mb-3">
        <label for="fromDate">From Date:</label>
        <input
          type="date"
          name="fromDate"
          id="fromDate"
          value="{{fromDateFilter}}"
        />
        <label for="toDate">To Date:</label>
        <input type="date" name="toDate" id="toDate" value="{{toDateFilter}}" />
      </div>

      <!-- Price range-->
      <div class="mb-3">
        <label for="fromIncome">From Income:</label>
        <input
          type="number"
          step="0.01"
          min="0"
          class="form-control"
          name="fromIncome"
          id="fromIncome"
          value="{{fromIncomeFilter}}"
        />
        <label for="toIncome">To Income:</label>
        <input
          type="number"
          step="0.01"
          min="0"
          class="form-control"
          name="toIncome"
          id="toIncome"
          value="{{toIncomeFilter}}"
        />
      </div>

      <!-- color -->
      <div class="mb-3">
        <label for="color">Choose color:</label>
        <select
          name="color"
          id="color"
          class="form-select"
        >
          <option></option>
          {% for color in colors %}
          <option style="color: {{color['color']}}"value="{{color['color']}}" {% if color['color'] == color %}selected{% endif %}>
            {{color['color']}}
          </option>
          {% endfor %}
        </select>
      </div>

      <!-- search button  -->
      <button type="submit" class="btn btn-primary">Search</button>

      {% for message in get_flashed_messages() %}
      <div class="alert" style="color: red">{{ message }}</div>
      {% endfor %}
    </form>
  </div>
  <br />
  {% if incomes -%}
  <div>
    <div>
      <h2>Income</h2>
      <div class="table-responsive">
        <table
          class="table table-dark table-striped table-bordered table-hover"
        >
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Method</th>
            <th scope="col">Income</th>
            <th scope="col">Date</th>
            <th scope="col">
              Delete
              <br />
              <div class="info-container">
                <i class="icon-info-sign info-icon"></i>
  
                <div class="info-text">
                  Pressing the X will delete it FOREVER!
                </div>
              </div>
            </th>
          </tr>

          {% for income in incomes %}
          <tr>
            <td style="color: {{income['color']}}">{{ income["category"] }}</td>
            <td style="color: {{income['color']}}">{{ income["description"] }}</td>
            <td style="color: {{income['color']}}">{{ income["method"] }}</td>
            <td style="color: {{income['color']}}">{{ "$%.2f" | format(income["income"]) }}</td>
            <td style="color: {{income['color']}}">{{ income["date"] }}</td>
            <td style="text-align: center; color: {{income['color']}}">
              <form action="/delete" method="POST" style="display: inline-block">
                <input type="hidden" id="type" name="type" value="incomes" />
                <input type="hidden" id="id" name="id" value="{{income['id']}}" />
                <input type="hidden" id="direct" name="direct" value="/analyzeIncome" />
                <button
                  type="submit"
                  class="delete-btn btn btn-dark"
                  style="color: red; border: 0; text-align: center"
                >
                  X
                </button>
              </form>
              <form action="/edit" method="POST" style="display: inline-block">
                <input type="hidden" id="method" name="method" value="open">
                <input type="hidden" id="type" name="type" value="incomes" />
                <input type="hidden" id="id" name="id" value="{{income['id']}}" />
                <input type="hidden" id="direct" name="direct" value="editIncome.html" />
                <button type="submit" class="delete-btn btn btn-dark">
                  Edit
                </button>
              </form>
            </td> b
          </tr>
          {% endfor %}
        </table>
      </div>
      <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
          <th scope="col">Total Earned</th>
        </tr>
        <tr>
          <td>{{"$%.2f" | format(total)}}</td>
        </tr>
      </table>
    </div>
    <div></div>
    {% else -%}
    <h3>Sorry</h3>
    <p>
      You have no income to display here. To add income go
      <a href="/add-income">here</a>. In the future, use the links in the
      navigation bar on the top!
    </p>
    {% endif %}
  </div>
  {% endblock %}
</div>
