{% extends "layout.html" %} {% block title %}Main{% endblock %}

<!-- Main -->
{% block main %}
<div class="cont center">
  <h2>Summary</h2>
  <div class="table-responsive">
    <table class="table table-dark table-striped table-bordered table-hover">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Purchase Location</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>

      {% for expense in expenses %}
      <tr>
        <td>{{ expense["category"] }}</td>
        <td>{{ expense["description"] }}</td>
        <td>{{ expense["purchaseLocation"] }}</td>
        <td>{{ expense["quantity"] }}</td>
        <td>{{ expense["price"] }}</td>
        <td>{{ expense["date"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{%endblock %}
