{% extends "layout.html" %} {% block title %}Main{% endblock %}

<!-- Main -->
{% block body %}
<div class="cont center-horizontal" style="max-width: 1300px">
  <!-- Expenses  -->
  {% if expenses -%}
  <div>
    <h2>Expenses</h2>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Purchase Location</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
          <th scope="col">
            Delete
            <br />
            <div class="info-container">
              <i class="icon-info-sign info-icon"></i>

              <div class="info-text">
                Pressing the X will delete it FOREVER!
              </div>
            </div>
          </th>
        </tr>

        {% for expense in expenses %}
        <tr style="color: {{expense['color']}}">
          <td style="color: {{expense['color']}}">{{ expense["category"] }}</td>
          <td style="color: {{expense['color']}}">
            {{ expense["description"] }}
          </td>
          <td style="color: {{expense['color']}}">
            {{ expense["purchaseLocation"] }}
          </td>
          <td style="color: {{expense['color']}}">{{ expense["quantity"] }}</td>
          <td style="color: {{expense['color']}}">
            {{ "$%.2f"| format(expense["price"]) }}
          </td>
          <td style="color: {{expense['color']}}">{{ expense["date"] }}</td>
          <td style="text-align: center">
            <form action="/delete" method="POST">
              <input type="hidden" id="type" name="type" value="expenses" />
              <input
                type="hidden"
                id="id"
                name="id"
                value="{{expense['id']}}"
              />
              <input type="hidden" id="direct" name="direct" value="/" />
              <button
                type="submit"
                class="delete-btn btn btn-dark"
                style="color: red; border: 0; text-align: center"
              >
                X
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else -%}
  <p>
    You have no expenses to display here. To add an expense go
    <a href="/add-expense">here</a>. In the future, use the links in the
    navigation bar on the top!
  </p>
  {% endif %}

  <!-- INCOMES -->
  {% if incomes -%}
  <div>
    <h2>Income</h2>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Method</th>
          <th scope="col">Income</th>
          <th scope="col">Date</th>
          <th scope="col">
            Delete
            <br />
            <div class="info-container">
              <i class="icon-info-sign info-icon"></i>

              <div class="info-text">
                Pressing the X will delete it FOREVER!
              </div>
            </div>
          </th>
        </tr>

        {% for income in incomes %}
        <tr>
          <td style="color: {{income['color']}} !important">
            {{ income["category"] }}
          </td>
          <td style="color: {{income['color']}} !important">
            {{ income["description"] }}
          </td>
          <td style="color: {{income['color']}} !important">
            {{ income["method"] }}
          </td>
          <td style="color: {{income['color']}} !important">
            {{ "$%.2f"| format(income["income"]) }}
          </td>
          <td style="color: {{income['color']}} !important">
            {{ income["date"] }}
          </td>
          <td style="text-align: center">
            <form action="/delete" method="POST">
              <input type="hidden" id="type" name="type" value="incomes" />
              <input type="hidden" id="id" name="id" value="{{income['id']}}" />
              <input type="hidden" id="direct" name="direct" value="/" />
              <button
                type="submit"
                class="delete-btn btn btn-dark"
                style="color: red; border: 0; text-align: center"
              >
                X
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else -%}
  <p>
    You have no income to display here. To add income go
    <a href="/add-income">here</a>. In the future, use the links in the
    navigation bar on the top!
  </p>
  {% endif %}
</div>

{%endblock %}
