<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<link
  href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
  rel="stylesheet"
/>
<div class="cont center">
  <div class="formBox line-chart-filter-parent">
    <div class="line-chart-filter">
      <label for="year" class="form-label">Year Select</label>
      <br />
      <select
        class="form-select dark-select"
        aria-label="Year"
        id="year"
        style="max-width: 90px"
      >
        <option value="0">All</option>
        {% for year in years %}
        <option value="{{year}}">{{ year }}</option>
        {% endfor %}
      </select>

      <div class="info-container">
        <i class="icon-info-sign info-icon"></i>

        <div class="info-text">
          Year Select "All" will combine everything in each month over all the
          years.
        </div>
      </div>
    </div>

    <div class="line-chart-filter">
      <label for="expsCategoryFilter" class="form-label"
        >Expense Category Filter</label
      >
      <br />
      <select
        multiple
        size="5"
        class="form-select dark-select"
        aria-label="expsCategory"
        id="expsCategoryFilter"
      >
        <option selected>All</option>
        <option>None</option>
        {% for category in expsCategories %}
        <option value="{{category['category']}}">
          {{ category["category"] }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="line-chart-filter">
      <label for="incsCategoryFilter" class="form-label"
        >Income Category Filter</label
      >

      <select
        multiple
        size="5"
        class="form-select dark-select"
        aria-label="incsCategoryFilter"
        id="incsCategoryFilter"
      >
        <option selected>All</option>
        <option>None</option>
        {% for category in incsCategories %}
        <option value="{{category['category']}}">
          {{ category["category"] }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="info-container">
      <i class="icon-info-sign info-icon"></i>

      <div class="info-text">
        Select multiple categories by holding the CTRL key and clicking.
      </div>
    </div>
  </div>
  <br />
  <canvas
    id="myChart"
    style="height: 50vh; max-height: 600px; background-color: white"
  ></canvas>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var exps = {{ expenses | tojson | safe}};
      var incs = {{ incomes | tojson | safe}};

      var sortedExps = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,];
      var sortedIncs = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,];



      for (const element of exps){
        date = new Date(element.date);
        sortedExps[date.getMonth()] += element.price;
      }
      for (const element of incs){
        date = new Date(element.date);
        sortedIncs[date.getMonth()] += element.income;
      }





      const config = {
        type: 'line',
      data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: [{
          label: 'Expenses',
                data: sortedExps,

                borderColor: 'rgb(192, 75, 75)',
                backgroundColor: 'rrgb(35, 149, 142)',
                fill: false,
                borderWidth: 1,
                tension: 0.1
              },
              {
                label: 'Income',
                data: sortedIncs,
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgb(142, 149, 35)',
                fill: false,
                borderWidth: 1,
                tension: 0.1
              }]
            },
          }


          const myChart = new Chart(document.getElementById("myChart"), config);



          const yearSelect = document.getElementById('year');
          yearSelect.addEventListener('change', upData);

          const expsCategoryFilterSelect = document.getElementById('expsCategoryFilter');
          const incsCategoryFilterSelect = document.getElementById('incsCategoryFilter');
          expsCategoryFilterSelect.addEventListener('change', upData);
          incsCategoryFilterSelect.addEventListener('change', upData);

          function upData() {
            var yearFilter = yearSelect.value;
            var expsCategoryFilters = Array.from(expsCategoryFilterSelect.selectedOptions).map(option => option.value);
            var incsCategoryFilters = Array.from(incsCategoryFilterSelect.selectedOptions).map(option => option.value);



            var filteredExps = [];
            var filteredIncs = [];

            for (let filter of expsCategoryFilters) {

              if(filter == "All"){
                clearSelection(expsCategoryFilterSelect);
                expsCategoryFilterSelect.options[0].selected = true;
                filteredExps = exps;
                break;
              } else if(filter == "None"){
                clearSelection(expsCategoryFilterSelect);
                expsCategoryFilterSelect.options[1].selected = true;
                break;
              } else {
                filteredExps.push(...exps.filter(exps => exps.category === filter));
              }
            };

            for (let filter of incsCategoryFilters) {
              if(filter == "All"){
                clearSelection(incsCategoryFilterSelect);
                incsCategoryFilterSelect.options[0].selected = true;
                filteredIncs = incs;
                break;
              } else if(filter == "None"){
                clearSelection(incsCategoryFilterSelect);
                incsCategoryFilterSelect.options[1].selected = true;
                break;
              } else {
                filteredIncs.push(...incs.filter(inc => inc.category === filter));
              }
            };



            sortedExps = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0];
            sortedIncs = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0];

            for (const element of filteredExps){
              var date = new Date(element.date);
              if(yearFilter == 0 || yearFilter == date.getFullYear()){
                sortedExps[date.getMonth()] += element.price;
              }
            }
            for (const element of filteredIncs){
              var date = new Date(element.date);
              if(yearFilter == 0 || yearFilter == date.getFullYear()){
                sortedIncs[date.getMonth()] += element.income;
              }
            }





            myChart.data.datasets[0].data = sortedExps;
            myChart.data.datasets[1].data = sortedIncs;
            myChart.update();
          }

          //Clear Selection
          function clearSelection(selectElement) {
            // Clear the selection in the specified select element
            Array.from(selectElement.options).forEach(option => option.selected = false);
          }
      });
  </script>
</div>
{% endblock %}
