<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>
<div class="cont center-horizontal">
  <div class="formBox paddingAll">
    <h4>Filters</h4>
    <br>
    <button id="switch" class="btn btn-dark" >Switch to Income</button>
    <div class="info-container">
      <i class="icon-info-sign info-icon"></i>

      <div class="info-text">
        Click to switch the pie chart to/from Income and Expenses.
      </div>
    </div>
    <br><br>
    <label for="year" class="form-label">Year Filter</label>
    <div class="info-container">
      <i class="icon-info-sign info-icon"></i>

      <div class="info-text">
       Click "Filter by Selected Year" to apply the year filter, and click "Clear Year Filter" to get rid of it.
      </div>
    </div>
    <br>
    <input type="number" id="year" value="" min="1900" max="2100" step="1" class="form-control" style="max-width: 80px; display: inline;">
    <button id="filterYear" class="btn btn-dark">Filter by Selected Year</button>
    <button id="clearYearFilter" class="btn btn-dark">Clear Year Filter</button>
    <button id="currentYear" class="btn btn-dark">Set to Current Year</button>
    <br>
    <div style="display: inline; color:rgb(118, 181, 218);" id="yearFilterText">Year Filter Status: Not Currently Filtering by Year</div>
    <br><br>
    <label for="month" class="form-label">Month Filter</label>
    <select class="form-select dark-select" aria-label="Month" id="month">
      <option></option>
      <option value="0">January</option>
      <option value="1">February</option>
      <option value="2">March</option>
      <option value="3">April</option>
      <option value="4">May</option>
      <option value="5">June</option>
      <option value="6">July</option>
      <option value="7">August</option>
      <option value="8">September</option>
      <option value="9">October</option>
      <option value="10">November</option>
      <option value="11">December</option>
    </select>
  </div>

  <canvas id="myChart" style="height: 50vh; max-height: 600px"></canvas>


  <!-- JAVASCRIPT
  .
  .
  -->
  <script>
    var exps = {{ expenses | tojson | safe}};
    var incs = {{ incomes | tojson | safe}};


    var yearFilter = null;
    var monthFilter = null;
    
    document.addEventListener('DOMContentLoaded', function () {
      const monthSelect = document.querySelector('select');
      monthSelect.addEventListener('change', function() {
        monthFilter = monthSelect.value;
        updateChart(monthFilter, yearFilter)
      });
    });

    function updateChart(month, year) {
        
        
        const updatedExps = getFilteredData(exps, month, year);
        const updatedIncs = getFilteredData(incs, month, year);

        const updatedExpsCategories = updatedExps.map(obj=> obj.category);
        const updatedIncsCategories = updatedIncs.map(obj=> obj.category);

        const updatedExpsValues = updatedExps.map(obj => obj.price);
        const updatedIncsValues = updatedIncs.map(obj => obj.income);

        expsData.labels = updatedExpsCategories;
        expsData.datasets[0].data = updatedExpsValues;
        console.log(updatedExpsCategories);
        
        incsData.labels = updatedIncsCategories;
        incsData.datasets[0].data = updatedIncsValues;

        myChart.update();
      }



    //GET FILTERED DATA
    //-
    //-
     function getFilteredData(data, month, year)
     {
      newData = [];
      if(month || year) {
        date = new Date(data[0].date);
        for (const element of data) {
         date = new Date(element.date);
         //If there is a year
         if (year) {
           //Year matches
           if (year == date.getFullYear()) {
             //Is a month and year
             if (month) {
               //Year and month Matches
               if (month == date.getMonth()) {
                 newData.push(element);
               }
             //No month but year matches
             } else {
               newData.push(element);
             }
           } 
         //Is month but no year
         } else if (month) {
           //month matches
           if (month == date.getMonth()) {
             newData.push(element);
           }
         }
        }
        return newData;
      } else {

        return data;
      }
     }


    // list of categories for each
    var expsCategories = exps.map(obj => obj.category);
    var incsCategories = incs.map(obj => obj.category);

    // list of values for each
    var expsValues = exps.map(obj => obj.price);
    var incsValues = incs.map(obj => obj.income);


    //determines whether to display expenses or incomes
    var displayExps = true;

  
    const barColors = [
    "rgba(70, 130, 180, 1.0)", // Steel Blue
  "rgba(255, 105, 97, 1.0)", // Tomato
  "rgba(60, 179, 113, 1.0)", // Medium Sea Green
  "rgba(255, 182, 193, 1.0)", // Light Pink
  "rgba(173, 216, 230, 1.0)", // Light Blue
  "rgba(255, 215, 0, 1.0)",   // Gold
  "rgba(138, 43, 226, 1.0)",  // Blue Violet
  "rgba(255, 69, 0, 1.0)",    // Red-Orange
  "rgba(144, 238, 144, 1.0)", // Light Green
  "rgba(255, 140, 0, 1.0)",   // Dark Orange
    ];

    const expsData = {
      labels: expsCategories,
      datasets: [
        {
          backgroundColor: barColors,
          data: expsValues,
        },
      ],
    };

    const incsData = {
      labels: incsCategories,
      datasets: [
        {
          backgroundColor: barColors,
          data: incsValues,
        },
      ],
    };

    const config = {
      type: "pie",
      data: expsData,
      options: {
        title: {
          responive: true,
          display: false,
        },
        plugins: {
          tooltip: {
            enabled: true,
          },

          datalabels: {
            formatter: (value, context) => {
              const datapoints = context.chart.data.datasets[0].data;
              function totalSum(total, datapoint) {
                return total + datapoint;
              }
              const totalValue = datapoints.reduce(totalSum, 0);
              const percentageValue = ((value / totalValue) * 100).toFixed(1);
              return `${percentageValue}%`;
            },
          },
        },
      },
      plugins: [ChartDataLabels],
    };

    const myChart = new Chart(document.getElementById("myChart"), config);

    //button to switch between exps and incs
    document.getElementById("switch").addEventListener('click', switchVar)
    function switchVar() {
      displayExps = !displayExps;
      config.data = displayExps ? expsData : incsData;
      document.getElementById("switch").innerHTML = "Switch to " + (displayExps ? 'Income' : "Expenses");
      myChart.update();
    }


    document.getElementById("currentYear").addEventListener('click', setCurrentYear)
    function setCurrentYear() {
      document.getElementById("year").value = new Date().getFullYear().toString();
    }

    document.getElementById("filterYear").addEventListener('click', function() {
      yearFilter = document.getElementById("year").value;
      if (yearFilter != "") {
        document.getElementById("yearFilterText").innerHTML = "Year Filter Status: Currently Filtering by Year: " + yearFilter;
      }
      updateChart(monthFilter, yearFilter);
    })
    
    //when clear year filter year filter is set to null
    document.getElementById("clearYearFilter").addEventListener('click', clearYearFilter)
    function clearYearFilter() {
      yearFilter = null;
      document.getElementById("yearFilterText").innerHTML = "Year Filter Status: Not Currently Filtering by Year";
    }
  </script>
</div>
{% endblock %}
