<!-- layout -->
{% extends "layout.html" %}

<!-- Main -->

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>
<div class="cont center">
  <div>
    <button id="switch" class="btn btn-dark" >Switch to Income</button>
  </div>
  <canvas id="myChart" style="height: 50vh; max-height: 600px"></canvas>

  <script>
    var exps = {{ expenses | tojson | safe}};
    var incs = {{ incomes | tojson | safe}};

    
    // list of categories for each
    var expsCategories = exps.map(obj => obj.category);
    var incsCategories = incs.map(obj => obj.category);

    // list of values for each
    var expsValues = exps.map(obj => obj.price);
    var incsValues = incs.map(obj => obj.income);


    //determines whether to display expenses or incomes
    var displayExps = true;

    

  
    const barColors = [
    "rgba(70, 130, 180, 1.0)", // Steel Blue
  "rgba(255, 105, 97, 1.0)", // Tomato
  "rgba(60, 179, 113, 1.0)", // Medium Sea Green
  "rgba(255, 182, 193, 1.0)", // Light Pink
  "rgba(173, 216, 230, 1.0)", // Light Blue
  "rgba(255, 215, 0, 1.0)",   // Gold
  "rgba(138, 43, 226, 1.0)",  // Blue Violet
  "rgba(255, 69, 0, 1.0)",    // Red-Orange
  "rgba(144, 238, 144, 1.0)", // Light Green
  "rgba(255, 140, 0, 1.0)",   // Dark Orange
    ];

    const expsData = {
      labels: expsCategories,
      datasets: [
        {
          backgroundColor: barColors,
          data: expsValues,
        },
      ],
    };

    const incsData = {
      labels: incsCategories,
      datasets: [
        {
          backgroundColor: barColors,
          data: incsValues,
        },
      ],
    };

    const config = {
      type: "pie",
      data: expsData,
      options: {
        title: {
          responive: true,
          display: false,
        },
        plugins: {
          tooltip: {
            enabled: true,
          },

          datalabels: {
            formatter: (value, context) => {
              const datapoints = context.chart.data.datasets[0].data;
              function totalSum(total, datapoint) {
                return total + datapoint;
              }
              const totalValue = datapoints.reduce(totalSum, 0);
              const percentageValue = ((value / totalValue) * 100).toFixed(1);
              return `${percentageValue}%`;
            },
          },
        },
      },
      plugins: [ChartDataLabels],
    };

    const myChart = new Chart(document.getElementById("myChart"), config);

    //button to switch between exps and incs
    document.getElementById("switch").addEventListener('click', switchVar)
    function switchVar() {
      displayExps = !displayExps;
      config.data = displayExps ? expsData : incsData;
      document.getElementById("switch").innerHTML = "Switch to " + (displayExps ? 'Income' : "Expenses");
      myChart.update();
    }
  </script>
</div>
{% endblock %}
