.red {
  color: red;
}

.cont {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  color: aliceblue;
  max-width: 100vw;
}

.navbar-nav {
  z-index: 1000;
}

.center-small-form {
  padding-top: 30px;
  max-width: 300px;
  margin: 0 auto;
}

.center-horizontal {
  margin: 0 auto; /* This will horizontally center the div */
  width: 90vw; /* Adjust the width as needed */
  max-width: 800px;
  padding: 25px;
}

.right-div {
  margin-left: auto;
  box-sizing: border-box;
}

.formBox {
  border: 5px solid rgb(8, 0, 61);
  border-radius: 15px;
  padding: 10px;
}

#body {
  background-color: rgb(48, 60, 70);
  font-family: "Roboto Mono", monospace;
  color: aliceblue;
}

.form-select {
  background-color: #333 !important;
  color: aliceblue !important;
}

.paddingAll * {
  padding-top: 10px; /* Adjust the padding value as needed */
  padding-bottom: 10px; /* Adjust the padding value as needed */
}

.form-control {
  background-color: #333 !important;
  color: aliceblue !important;
}

/* LINE CHART */

.line-chart-filter {
  width: 28%;
  min-width: 130px;
  padding: 10px;
  margin: 5px;
}

.line-chart-filter-parent {
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Info button */
.info-container {
  position: relative;
  display: inline-block;
}

.info-icon {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.info-text {
  display: none;
  position: absolute;
  top: 10px; /* Adjust the positioning as needed */
  left: -60px; /* Adjust the positioning as needed */
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-container:hover .info-text {
  display: block;
}
